@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:900px){
   .box {
  margin: 0px;
  width: 100%; 
  height: 750px; 
  border:1px solid #93B4C4; 
  background-color: rgba(250,250,250,0.2); 
}
  
   .minibox {
  margin: 0px;
  width: 100%; 
  height: 730px; 
  border:1px solid #95B5C5; 
  background-image: url("jpg 店内 image 1.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}
  
    .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}

.Ue flexbox {
  margin: 0px;
  width: 100%; 
  height: 360px; 
  border:1px solid #80B5C5; 
  display: flex;
  justify-content: flex-start;/*左寄せで配置*/
}
.ue flexbox {
  margin: 0px;
  width: 80%; 
  height: 360px; 
  border:1px solid #60B5C5; 
  display: flex;
  justify-content: space-around;
}

.Sita flexbox {
  margin: 0px;
  width: 100%; 
  height: 360px; 
  border:1px solid #40B5C5; 
  display: flex;
  justify-content: flex-end;/*右寄せで配置*/
}

.sita flexbox {
  margin: 0px;
  width: 80%; 
  height: 360px; 
  border:1px solid #20B5C5; 
  display: flex;
  justify-content: space-around;
}

  .Onebox {
  margin: 1px;
  width: ; 
  height: 360px;
  border:1px solid #10B5C5; 
  background-image: url("jpg ヘアカタログ 4.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Twobox {
  margin: 1px;
  width: ; 
  height: 360px; 
  border:1px solid #70B7C7; 
  background-image: url("jpg ヘアカタログ 2.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Threebox {
  margin: 1px;
  width: ; 
  height: 360px; 
  border:1px solid #60B6C6; 
  background-image: url("jpg ヘアカタログ 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Fourbox {
  margin: 1px;
  width: ; 
  height: 360px; 
  border:1px solid #50B5C5; 
  background-image: url("jpg ヘアカタログ 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .abox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #40B4C4; 
  background-image: url("jpg 店内 image 2.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .bbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #30B3C3; 
  background-image: url("jpg メニュー image 1.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .cbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #20B2C2; 
  background-image: url("jpg emiko image 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .dbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #10B10C10; 
  background-image: url("jpg 店内 image 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

}

 @media screen and (min-width:900px) and (max-width:2000px){
   .box {
  margin: 2px;
  width: 100%; 
  height: 850px; 
  border:1px solid #93B4C4; 
  background-color: rgba(250,250,250,0.2); 
}
  
   .minibox {
  margin: 0px;
  width: 100%; 
  height: 850px; 
  border:1px solid #95B5C5; 
  background-image: url("jpg 店内 image 1.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

    .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}

.Ue flexbox {
  margin: 0px;
  width: 100%; 
  height: 460px; 
  border:1px solid #80B5C5; 
  display: flex;
  justify-content: flex-start;/*左寄せで配置*/
}
.ue flexbox {
  margin: 0px;
  width: 80%; 
  height: 460px; 
  border:1px solid #60B5C5; 
  display: flex;
  justify-content: space-around;
}

.Sita flexbox {
  margin: 0px;
  width: 100%; 
  height: 460px; 
  border:1px solid #40B5C5; 
  display: flex;
  justify-content: flex-end;/*右寄せで配置*/
}

.sita flexbox {
  margin: 0px;
  width: 80%; 
  height: 460px; 
  border:1px solid #20B5C5; 
  display: flex;
  justify-content: space-around;
}

   .Onebox {
  margin: 1px;
  width: ; 
  height: 460px;
  border:1px solid #10B5C5; 
  background-image: url("jpg ヘアカタログ 4.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Twobox {
  margin: 1px;
  width: ; 
  height: 460px; 
  border:1px solid #70B7C7; 
  background-image: url("jpg ヘアカタログ 2.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Threebox {
  margin: 1px;
  width: ; 
  height: 460px; 
  border:1px solid #60B6C6; 
  background-image: url("jpg ヘアカタログ 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}
 .Fourbox {
  margin: 1px;
  width: ; 
  height: 460px; 
  border:1px solid #50B5C5; 
  background-image: url("jpg ヘアカタログ 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

 .abox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 2.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .bbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg メニュー image 1.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .cbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg emiko image 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .dbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

}
